## Deliverable 2. Create a Customer Travel Destinations Map.

In [26]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [13]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Saint-Philippe,RE,2022-01-30 21:41:34,-21.3585,55.7679,78.39,82,46,11.36,scattered clouds
1,1,Kodiak,US,2022-01-30 21:40:13,57.7900,-152.4072,26.11,68,0,12.66,clear sky
2,2,Busselton,AU,2022-01-30 21:40:14,-33.6500,115.3333,63.09,64,90,18.16,overcast clouds
3,3,Cayenne,GF,2022-01-30 21:41:35,4.9333,-52.3333,78.84,88,75,1.99,broken clouds
4,4,Upernavik,GL,2022-01-30 21:41:30,72.7868,-56.1549,-3.71,87,100,6.26,overcast clouds

In [14]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Saint-Philippe,RE,2022-01-30 21:41:34,-21.3585,55.7679,78.39,82,46,11.36,scattered clouds
3,3,Cayenne,GF,2022-01-30 21:41:35,4.9333,-52.3333,78.84,88,75,1.99,broken clouds
11,11,Hithadhoo,MV,2022-01-30 21:41:22,-0.6000,73.0833,81.55,70,86,9.40,overcast clouds
18,18,Det Udom,TH,2022-01-30 21:41:39,14.9060,105.0784,75.02,82,65,8.63,broken clouds
19,19,Butaritari,KI,2022-01-30 21:39:47,3.0707,172.7902,82.04,76,17,20.92,light rain
22,22,Rikitea,PF,2022-01-30 21:41:40,-23.1203,-134.9692,76.55,69,100,4.16,overcast clouds
27,27,Kapaa,US,2022-01-30 21:41:42,22.0752,-159.3190,80.58,69,0,1.01,clear sky
29,29,Vaini,TO,2022-01-30 21:41:42,-21.2000,-175.2000,80.15,77,100,12.71,light rain
30,30,Koumac,NC,2022-01-30 21:41:43,-20.5667,164.2833,80.80,73,98,4.74,overcast clouds
36,36,Fare,PF,2022-01-30 21:41:44,-16.7000,-151.0167,80.46,72,22,10.09,few clouds

In [39]:
# 4a. Determine if there are any empty rows.
cell_counts = preferred_cities_df.isnull().sum()

empty_cells = 0
for i in range(len(cell_counts)):
    empty_cells += cell_counts[i]

empty_cells

0

In [42]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
if empty_cells == 0:
    print('No empty rows.')
else:
    preferred_cities_df.replace('',np.nan,inplace=True)
    preferred_cities_df.dropna(inplace=True)
    print('Empty rows replaced.')

No empty rows.

In [18]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Saint-Philippe,RE,78.39,scattered clouds,-21.3585,55.7679,
3,Cayenne,GF,78.84,broken clouds,4.9333,-52.3333,
11,Hithadhoo,MV,81.55,overcast clouds,-0.6000,73.0833,
18,Det Udom,TH,75.02,broken clouds,14.9060,105.0784,
19,Butaritari,KI,82.04,light rain,3.0707,172.7902,
22,Rikitea,PF,76.55,overcast clouds,-23.1203,-134.9692,
27,Kapaa,US,80.58,clear sky,22.0752,-159.3190,
29,Vaini,TO,80.15,light rain,-21.2000,-175.2000,
30,Koumac,NC,80.80,overcast clouds,-20.5667,164.2833,
36,Fare,PF,80.46,few clouds,-16.7000,-151.0167,

In [22]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [43]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df['Hotel Name'].replace('',np.nan,inplace=True)
hotel_df.dropna(subset=['Hotel Name'],inplace=True)
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Saint-Philippe,RE,78.39,scattered clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
3,Cayenne,GF,78.84,broken clouds,4.9333,-52.3333,Hôtel Le Dronmi
11,Hithadhoo,MV,81.55,overcast clouds,-0.6000,73.0833,Scoop Guest House
18,Det Udom,TH,75.02,broken clouds,14.9060,105.0784,Chatsuda Resort
19,Butaritari,KI,82.04,light rain,3.0707,172.7902,Isles Sunset Lodge
22,Rikitea,PF,76.55,overcast clouds,-23.1203,-134.9692,People ThankYou
27,Kapaa,US,80.58,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
29,Vaini,TO,80.15,light rain,-21.2000,-175.2000,Keleti Beach Resort
30,Koumac,NC,80.80,overcast clouds,-20.5667,164.2833,Le Monitel
36,Fare,PF,80.46,few clouds,-16.7000,-151.0167,Maitai Lapita Village Huahine

In [45]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_vacation.csv'

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [56]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [57]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))