## Deliverable 3. Create a Travel Itinerary Map.

In [34]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../vacation_search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Saint-Philippe,RE,78.39,scattered clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
1,3,Cayenne,GF,78.84,broken clouds,4.9333,-52.3333,Hôtel Le Dronmi
2,11,Hithadhoo,MV,81.55,overcast clouds,-0.6000,73.0833,Scoop Guest House
3,18,Det Udom,TH,75.02,broken clouds,14.9060,105.0784,Chatsuda Resort
4,19,Butaritari,KI,82.04,light rain,3.0707,172.7902,Isles Sunset Lodge

In [4]:
# 2. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map. 
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Saint-Philippe,RE,78.39,scattered clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
1,3,Cayenne,GF,78.84,broken clouds,4.9333,-52.3333,Hôtel Le Dronmi
2,11,Hithadhoo,MV,81.55,overcast clouds,-0.6000,73.0833,Scoop Guest House
3,18,Det Udom,TH,75.02,broken clouds,14.9060,105.0784,Chatsuda Resort
4,19,Butaritari,KI,82.04,light rain,3.0707,172.7902,Isles Sunset Lodge
...,...,...,...,...,...,...,...,...
158,668,Hohoe,GH,78.17,overcast clouds,7.1518,0.4736,Agumatsa Falls Lodge
159,682,Manggar,ID,77.77,broken clouds,-2.8833,108.2667,Guest Hotel
160,684,Bowen,AU,77.22,scattered clouds,-20.0167,148.2333,Castle Motor Lodge Motel
161,685,Gold Coast,AU,83.19,scattered clouds,-28.0000,153.4333,Mantra Towers of Chevron Surfers Paradise
162,688,Porto Novo,BJ,82.22,broken clouds,6.4965,2.6036,Tour Eiffel Hotel Benin

In [14]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Gold Coast']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Gold Coast']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Byron Bay']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Ballina'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Bagotville']

In [38]:
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
161,685,Gold Coast,AU,83.19,scattered clouds,-28.0,153.4333,Mantra Towers of Chevron Surfers Paradise

In [46]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.to_numpy()[0][5],vacation_start.to_numpy()[0][6])
end = (vacation_end.to_numpy()[0][5],vacation_end.to_numpy()[0][6])
stop1 = (vacation_stop1.to_numpy()[0][5],vacation_stop1.to_numpy()[0][6])
stop2 = (vacation_stop2.to_numpy()[0][5],vacation_stop2.to_numpy()[0][6])
stop3 = (vacation_stop3.to_numpy()[0][5],vacation_stop3.to_numpy()[0][6])

In [50]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
directions = gmaps.directions_layer(start,end,waypoints=[stop1,stop2,stop3],travel_mode='DRIVING')
fig.add_layer(directions)

fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,685,Gold Coast,AU,83.19,scattered clouds,-28.0000,153.4333,Mantra Towers of Chevron Surfers Paradise
1,181,Byron Bay,AU,79.05,broken clouds,-28.6500,153.6167,Backpackers Inn
2,139,Ballina,AU,75.38,broken clouds,-28.8667,153.5667,Ramada Hotel & Suites by Wyndham Ballina Byron
3,284,Bagotville,AU,75.22,scattered clouds,-28.9833,153.4167,Broadwater Sunrise Caravan Park

In [52]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [53]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))